body {
    background-color: black;
}
p, h1 {
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: rgb(0, 255, 0);  
}

h1 {
    font-size: 5em;
}

#sec-input, #start-button {
    background-color: black;
    font-size: 1em;
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    font-family: 'VT323', monospace;
}

#time-window {
    
    font-size: 3em;
    border-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    font-family: 'VT323', monospace;
    width: 50px;
}

#sec-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 255, 0);
}

#my-form {
    border-top: solid;
    border-width: 0.5px;
    border-color: rgb(0, 255, 0);
}

@media only screen and (max-width: 768px) {
    #sec-input-container {
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 769px) {
    #sec-input-container {
        margin-left: 4.5em;
    }
}