.container {
    margin-right: 0% !important;
}

.nav-item {
    margin-left: 20%;
}

.navbar-brand {
    margin-left: 0.8%;
}
.name-text {
    float: right;
    color: white;
}

.carousel-inner img {
    margin: auto;
    margin-top: 1%;
}
